@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Open+Sans&family=Oswald&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg);
  background-color: rgb(255, 235, 205);
  background-repeat: no-repeat;
  background-size: cover;
}

.parent-container {
  width: 90%;
  margin: 0 auto;
}

.top-container {
  width: 100%;
  /* border: 2px solid red; */
  margin: 6em auto;
  /* margin-block: 6em; */
}

.rejection-text-index {
  color: rgb(35, 55, 65);
  line-height: 1.2em;
  font-size: 2.2rem;
  text-align: center;
  font-size: "Fira Sans", sans-serif;
  font-weight: 900;
  margin-block-start: 0.5em;
  margin-block-end: 0.8em;
}

.win-more-text-index {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-block-end: 2em;
}

.win-more-span-text {
  color: rgb(11, 230, 84);
  text-transform: capitalize;
}

.get-started-container {
  width: 100%;
  border-bottom: 1.5px solid rgb(179, 183, 184);
  padding-block: 2em;
  text-align: center;
}

.get-started-btn-index {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(35, 55, 65);
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 0.5em;
}

.get-started-btn-index:hover {
  background-color: rgb(11, 230, 84);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
}

.bottom {
  width: 100%;
  margin-block: 2em;
}

.bottom-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
  text-align: center;
}

.bottom li {
  display: inline-block;
}

@media (min-width: 767px) {
  .rejection-text-index {
    text-transform: cap;
    font-size: 5rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  .win-more-text-index {
    font-size: 1.5rem;
    /* margin-block-end: 1em; */
  }

  .get-started-container {
    width: 100%;
    border: none;
    /* border: 2px solid red; */
    padding-block: 0em;
  }

  .get-started-btn-index {
    font-size: 1.3rem;
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 1em;
  }
}

.main-navbar ul {
  /* margin: 0; */
}

.main-navbar li {
  display: inline;
}

.main-navbar a {
  display: inline-block;
  padding: 1.4rem;
  color: rgb(39, 38, 38);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-navbar a:hover {
  /* background-color: rgb(26, 26, 26); */
  /* color: rgba(255, 255, 255, 0.8); */
  color: rgb(11, 230, 84);
  /* border-radius: 5px; */
}
