@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Open+Sans&family=Oswald&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg);
  background-color: rgb(255, 235, 205);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-navbar ul {
  /* margin: 0; */
}

.main-navbar li {
  display: inline;
}

.main-navbar a {
  display: inline-block;
  padding: 1.4rem;
  color: rgb(39, 38, 38);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-navbar a:hover {
  /* background-color: rgb(26, 26, 26); */
  /* color: rgba(255, 255, 255, 0.8); */
  color: rgb(11, 230, 84);
  /* border-radius: 5px; */
}

.top-container {
  margin: 9rem 0 1rem 7rem;
  /* margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 2rem; */
  font-size: 1.3rem;
}

.rejection-text-index {
  padding-bottom: 25px;
  color: rgb(35, 55, 65);
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
}

.win-more-text-index {
  color: black;
}

.win-more-span-text {
  color: rgb(11, 230, 84);
}

.get-started-container {
  margin: 1.5rem 0 0rem 7rem;
}

.get-started-btn-index {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(35, 55, 65);
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 3px;
}

.get-started-btn-index:hover {
  background-color: rgb(11, 230, 84);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: bold;
}

.bottom {
  margin: 1em 0 0 6em;
  /* border: 2px red solid; */
}

.bottom li {
  display: inline-block;
  padding: 1.4em;
}
