@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Open+Sans&family=Oswald&family=Raleway&display=swap");

.center-content-track {
  width: 90%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.header-rejection-text-track {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  padding-block-end: 0.6em;
}

.top-container-track {
  margin-block-end: 1.5em;
}

.subheader-paragraph-track {
  font-size: 1.2rem;
}

.form-track {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 1.5em;
  /* padding-block-start: 0.6em; */
  padding: 1em;
  background-color: rgb(228, 228, 228);
  border-radius: 1em;
}

input[type="text"] {
  width: 100%;
  height: 3em;
  padding-inline-start: 0.5em;
  border: none;
  border-bottom: 1.5px solid rgb(35, 55, 65);
  outline: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  background: none;
  font-size: 1rem;
  /* color: rgb(11, 230, 84); */
}

.submit-button-track {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block-start: 1em;
  margin-block-end: 1em;
}

input[type="submit"] {
  background-color: rgb(35, 55, 65);
  color: #fff;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 6.25rem;
}

input[type="submit"]:hover {
  color: rgb(35, 55, 65);
  background-color: rgb(11, 230, 84);
}

/* height: 3rem;
letter-spacing: -.02rem;
line-height: 1.125rem;
padding: 0 1.875rem;
text-align: center; */
